*{
    font-family: Avenir;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}
html,body{
    background-color: #676F80;
    height: 100%;
    margin: 0;
}
img{
    border-radius: 200px;
/*                margin: 20px;*/
}
h1:nth-child(2){
/*    margin-bottom: 900px;*/
} 
#titleContainer{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: white;
/*    bottom: 0;*/
}
#titleContainer h1{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    color: #676F80;
    padding-top: 20%;
}
#titleContainer object{ /* Down arrow */
    margin-top: 17%;
    width: 50px;
    height: auto;
}
#teamContainer{
    margin-top: 2%; /* Padding above "Meet our team!" */
    margin-bottom: 4%; /* padding below heading "Meet our                            team!" */
    height: 100%;
}
#teamContainer>p{
    font-size: 40px;
}
#teamContainer div{
    display: inline-block;
    vertical-align: top;
/*
    background-color: #484d59;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
*/
}
.memberInfoContainer{
    display: block;
    width: 30%; 
}
.memberInfoContainer img{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    transition: all 0.5s ease-in-out;
    width: 70%;
}
.memberInfoContainer img:hover{
      transform: scale(1.06, 1.06);
}
.names{
    font-size: 25px;
}
.descriptions{
    font-size: 15px;
    padding: 0px 20px; /* change width of team member                               description text */
}
#goalsContainer{
    padding-top: 60px;
    height: 100%;
    background-color: white;
}
#goalsContainer > p:nth-child(1){
    font-size: 60px;
    color: #676F80;
}
#goalsContainer > p:nth-child(2){
    color: #676F80;
    font-size: 30px;
}